@font-face {
    font-family: 'title';
    src: url('../fonts/RX100-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'contents-title';
    src: url('../fonts/Tanker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'contents';
    src: url('../fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'num';
    src: url('../fonts/Panchang-Medium.ttf') format('truetype');
}