header{
    .header-inner{
        .menu{
            .hamburger{
                position: fixed;
                top: 45px;
                left: 45px;
                width: 30px;
                height: 30px;
                z-index: 999;
                img{               
                    position: absolute;
                    top: 0;
                    left: 0; 
                    transition: all 0.3s;
                }
                .open{
                    opacity: 1;
                }
                .close{
                    opacity: 0;
                }
                &.active{
                    
                }
            }
            &.active{
                position: fixed;
                height: 100%;
                width: 400px;
                background: #fff;
                z-index: 999;
                .hamburger{
                    .open{
                        opacity: 0;
                    }
                    .close{
                        opacity: 1;
                    }
                }                
            }
            &-list{
                position: fixed;
                top: 30%;
                transform: translateX(-200px);
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    font-family: "contents-title";
                    font-size:60px;
                }
            }
        }
    }
}
